@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-Regular.ttf")
}

html {
    position: relative;
}
.header {
    background-color: lightblue;
    width: 100%;
    height: 150px;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#button {
    padding: 0;
    width: 100%;
}

#button td {
    text-align: center;
}

body {
    background-color: rgb(165, 238, 165);
    font-family: "Alegreya";
}

.login {
    position: relative;
}

h2.text-center {
    width: 100%;
    text-align: center;
}

#login .container form {
    width: 29%;
    position: relative;
    left: 35%;
}
#login .container input[type="text"] {
    position: relative;
    left: 30%;
    width: 200px;
}

#login .container input[type="submit"] {
    width: 250px;
    position: relative;
    left: 25%;
    background-color: lime;
    border-radius: 6px;
    border: 2px solid rgb(1, 104, 1);
    height: 30px;
}

.footer {
    background-color: lightblue;
    width: 100%;
    height: 100px;
    z-index: 0;
    position: absolute;
    bottom: 0;
}

.footer table {
    position: relative;
    left: 35%;
}

.aaa {
    width: 10%;
    height: 10%;
}

.errorLog {
    position: relative;
    left: 50%;
}

img.buttonLogin {
    width: 10px;
    height: 10px;
}

.buttonLogout {
    width: 10px;
    height: 10px;
}

div#errorLog {
    position: relative;
    left: 350px;
}

h2.text-center-nologin {
    width: 70%;
    text-align: right;
}