@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-Regular.ttf");
}

.header {
    background-color: lightblue;
    width: 100%;
    height: 150px;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#button {
    padding: 0;
    width: 100%;
}

#button td {
    text-align: center;
}

body {
    background-color: rgb(165, 238, 165);
    font-family: "Alegreya";
}

.login {
    position: relative;
}

h2.text-center {
    width: 100%;
    text-align: center;
}

#login .container form {
    width: 29%;
    position: relative;
    left: 35%;
}
#login .container input[type="text"] {
    position: relative;
    left: 30%;
    width: 200px;
}

#login .container input[type="submit"] {
    width: 250px;
    position: relative;
    left: 25%;
    background-color: lime;
    border-radius: 6px;
    border: 2px solid rgb(1, 104, 1);
    height: 30px;
}

.footer {
    
    width: 99.6%;
    height: 100px;
}

.footer table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-right: 10px;
}

.aaa {
    width: 10%;
    height: 10%;
}

.errorLog {
    position: relative;
    left: 50%;
}

#logout {
    width:100%;
    position:relative;
    text-align:right;
    top:-65px;
}

#buttonLogout {
    width: 75px;
    height: 75px;
}

div#errorLog {
    position: relative;
    left: 350px;
}

h2.text-center-nologin {
    width: 70%;
    text-align: right;
}

.theadIncidencias td.thead1 {
    background: #ea6153;
    border: 1px solid black;
    font-weight: bold;
}

.tablaIncidencias {
    margin: 0 0 40px 0;
    width: 100%;
    display: table;
    text-align: center;
    border: none;
}

.tablaUsuarios {
    text-align: center;
    background-color: white;
    border-radius: 6px;
    font-size: 22px;
    margin: auto auto 40px auto;
    width: 80%;
    display: table;
    border: none;
}

.theadUsuarios {
    font-weight: bold;
}



.bienvenida {
    position: absolute;
    top: 15%;
    font-size: 30px;

}

.cuerpoIncidencias td {
    margin-bottom: 10px;
    padding: 6px 12px;
    
    border-spacing: 0px;
}

tr.alta {
    background-color: rgb(245, 51, 51);
}

tr.media {
    background-color: orange;
}

tr.baja {
    background-color: yellow;
}

tr.cerrada {
    background-color: yellowgreen;
}

p.mensajeInfo {
    color: royalblue;
}

p.mensajeError {
    color:red;
}

img#botonCrearIncidencia {
    width: 50px;
    height: 50px;
}

img#buttonEdit {
    width: 55px;
    height: 30px;
}

#crearIncidencia {
    position: relative;
    display: inline;
}

.divSearch {
    position: relative;
    float: right;
}

.inputBusqueda {
    border-radius: 3px;
    border: 1px solid black;
    width: 250px;
    height: 30px;
}

.lupa {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -10px;
}

.formUpdate {
    position: relative;
    left: 40%;
}

.formUpdate input[type="submit"] {
    position: relative;
    left: 2%;
    border-radius: 6px;
    width: 200px;
}

.formUpdate input[type="submit"]:hover {
    background-color: black;
    color: white;
}

.formInsertar {
    position: relative;
    left: 40%;
}

.formInsertar input[type="submit"] {
    position: relative;
    left: 2%;
    border-radius: 6px;
    width: 200px;
}

.formInsertar input[type="submit"]:hover {
    background-color: black;
    color: white;
}

div#volver {
    float: right;
}

.botonVolver {
    width: 50px;
    height: 50px;
}

#botonBorrar {
    width: 40px;
    height: 30px;
}

#botonCerrarIncidencia {
    width: 30px;
    height: 30px;
}

input.botonOrdenar {
    width: 20px;
    height: 20px;
}